.padreback {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.hijoback {
    color: white;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 415px;
}

.spinner,
.spinner:after {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 43%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    z-index: 2
}

.spinner {
    background-color: transparent;
    border-top: 10px solid rgb(66, 139, 202);
    border-right: 10px solid rgb(66, 139, 202);
    border-bottom: 10px solid rgb(66, 139, 202);
    border-left: 10px solid rgba(66, 139, 202, .2);
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
}

@keyframes spinner-loading {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}